 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3736px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  width: 182px;
  margin: 40px auto 0;
}

.u-section-1 .u-list-1 {
  margin: 41px 0 40px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 3576px;
  grid-gap: 30px 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-2 {
  background-image: none;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  background-image: none;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-7 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-8 {
  background-image: none;
}

.u-section-1 .u-icon-9 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-10 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-11 {
  background-image: none;
}

.u-section-1 .u-icon-12 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-5 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-13 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-14 {
  background-image: none;
}

.u-section-1 .u-icon-15 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-6 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-16 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-17 {
  background-image: none;
}

.u-section-1 .u-icon-18 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-15 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-7 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-19 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-20 {
  background-image: none;
}

.u-section-1 .u-icon-21 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-17 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-8 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-22 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-23 {
  background-image: none;
}

.u-section-1 .u-icon-24 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-19 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-9 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-25 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-26 {
  background-image: none;
}

.u-section-1 .u-icon-27 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-10 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-21 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-10 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-28 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-29 {
  background-image: none;
}

.u-section-1 .u-icon-30 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-11 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-22 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-23 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-11 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-31 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-32 {
  background-image: none;
}

.u-section-1 .u-icon-33 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-image-12 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-24 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-25 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-12 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-34 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-35 {
  background-image: none;
}

.u-section-1 .u-icon-36 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-image-13 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-26 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-27 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-13 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-37 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-38 {
  background-image: none;
}

.u-section-1 .u-icon-39 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-image-14 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-28 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-29 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-14 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-40 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-41 {
  background-image: none;
}

.u-section-1 .u-icon-42 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-image-15 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-30 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-31 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-15 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-43 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-44 {
  background-image: none;
}

.u-section-1 .u-icon-45 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-image-16 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-32 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-33 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-16 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-46 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-47 {
  background-image: none;
}

.u-section-1 .u-icon-48 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-image-17 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-34 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-35 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-17 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-49 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-50 {
  background-image: none;
}

.u-section-1 .u-icon-51 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px;
}

.u-section-1 .u-image-18 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-36 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-37 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-18 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-52 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-53 {
  background-image: none;
}

.u-section-1 .u-icon-54 {
  height: 100%;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1642px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 2949px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }

  .u-section-1 .u-image-1 {
    height: 217px;
  }

  .u-section-1 .u-image-2 {
    height: 217px;
  }

  .u-section-1 .u-image-3 {
    height: 217px;
  }

  .u-section-1 .u-image-4 {
    height: 217px;
  }

  .u-section-1 .u-image-5 {
    height: 217px;
  }

  .u-section-1 .u-image-6 {
    height: 217px;
  }

  .u-section-1 .u-image-7 {
    height: 217px;
  }

  .u-section-1 .u-image-8 {
    height: 217px;
  }

  .u-section-1 .u-image-9 {
    height: 217px;
  }

  .u-section-1 .u-image-10 {
    height: 217px;
  }

  .u-section-1 .u-image-11 {
    height: 217px;
  }

  .u-section-1 .u-image-12 {
    height: 217px;
  }

  .u-section-1 .u-image-13 {
    height: 217px;
  }

  .u-section-1 .u-image-14 {
    height: 217px;
  }

  .u-section-1 .u-image-15 {
    height: 217px;
  }

  .u-section-1 .u-image-16 {
    height: 217px;
  }

  .u-section-1 .u-image-17 {
    height: 217px;
  }

  .u-section-1 .u-image-18 {
    height: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2286px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 5082px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-1 .u-image-1 {
    height: 257px;
  }

  .u-section-1 .u-image-2 {
    height: 257px;
  }

  .u-section-1 .u-image-3 {
    height: 257px;
  }

  .u-section-1 .u-image-4 {
    height: 257px;
  }

  .u-section-1 .u-image-5 {
    height: 257px;
  }

  .u-section-1 .u-image-6 {
    height: 257px;
  }

  .u-section-1 .u-image-7 {
    height: 257px;
  }

  .u-section-1 .u-image-8 {
    height: 257px;
  }

  .u-section-1 .u-image-9 {
    height: 257px;
  }

  .u-section-1 .u-image-10 {
    height: 257px;
  }

  .u-section-1 .u-image-11 {
    height: 257px;
  }

  .u-section-1 .u-image-12 {
    height: 257px;
  }

  .u-section-1 .u-image-13 {
    height: 257px;
  }

  .u-section-1 .u-image-14 {
    height: 257px;
  }

  .u-section-1 .u-image-15 {
    height: 257px;
  }

  .u-section-1 .u-image-16 {
    height: 257px;
  }

  .u-section-1 .u-image-17 {
    height: 257px;
  }

  .u-section-1 .u-image-18 {
    height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-image-1 {
    height: 445px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-2 {
    height: 445px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-3 {
    height: 445px;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-4 {
    height: 445px;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-5 {
    height: 445px;
  }

  .u-section-1 .u-text-10 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-6 {
    height: 445px;
  }

  .u-section-1 .u-text-12 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-7 {
    height: 445px;
  }

  .u-section-1 .u-text-14 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-8 {
    height: 445px;
  }

  .u-section-1 .u-text-16 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-9 {
    height: 445px;
  }

  .u-section-1 .u-text-18 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-10 {
    height: 445px;
  }

  .u-section-1 .u-text-20 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-11 {
    height: 445px;
  }

  .u-section-1 .u-text-22 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-12 {
    height: 445px;
  }

  .u-section-1 .u-text-24 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-13 {
    height: 445px;
  }

  .u-section-1 .u-text-26 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-14 {
    height: 445px;
  }

  .u-section-1 .u-text-28 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-15 {
    height: 445px;
  }

  .u-section-1 .u-text-30 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-16 {
    height: 445px;
  }

  .u-section-1 .u-text-32 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-17 {
    height: 445px;
  }

  .u-section-1 .u-text-34 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-18 {
    height: 445px;
  }

  .u-section-1 .u-text-36 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 297px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 297px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 297px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 297px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 297px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-6 {
    height: 297px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-7 {
    height: 297px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-8 {
    height: 297px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-9 {
    height: 297px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-10 {
    height: 297px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-11 {
    height: 297px;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-12 {
    height: 297px;
  }

  .u-section-1 .u-text-24 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-13 {
    height: 297px;
  }

  .u-section-1 .u-text-26 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-14 {
    height: 297px;
  }

  .u-section-1 .u-text-28 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-15 {
    height: 297px;
  }

  .u-section-1 .u-text-30 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-16 {
    height: 297px;
  }

  .u-section-1 .u-text-32 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-17 {
    height: 297px;
  }

  .u-section-1 .u-text-34 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-18 {
    height: 297px;
  }

  .u-section-1 .u-text-36 {
    font-size: 1.88235rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2332px;
}

.u-section-2 .u-text-1 {
  font-size: 3.76471rem;
  width: 786px;
  margin: 40px auto 0;
}

.u-section-2 .u-list-1 {
  width: 868px;
  margin: 40px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 1338px;
  grid-gap: 30px 30px;
  grid-auto-columns: calc(50% - 15px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 349px;
  height: 172px;
  margin: 11px 9px 0 1px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 17px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 349px;
  height: 172px;
  margin: 11px 9px 0 1px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 17px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 349px;
  height: 172px;
  margin: 11px 9px 0 1px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 17px 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 349px;
  height: 172px;
  margin: 11px 9px 0 1px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 17px 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 349px;
  height: 172px;
  margin: 11px 9px 0 1px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 17px 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 349px;
  height: 172px;
  margin: 11px 9px 0 1px;
}

.u-section-2 .u-text-12 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 17px 0;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  width: 349px;
  height: 172px;
  margin: 11px 9px 0 1px;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-15 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 17px 0;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  width: 349px;
  height: 172px;
  margin: 11px 9px 0 1px;
}

.u-section-2 .u-text-16 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-17 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 17px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-3 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-4 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-5 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-6 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-7 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-8 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.11765rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.11765rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.11765rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.11765rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.11765rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.11765rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.11765rem;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-16 {
    font-size: 1.11765rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.23529rem;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 158px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 158px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
    height: 158px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 320px;
    height: 158px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    width: 320px;
    height: 158px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    width: 320px;
    height: 158px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-7 {
    width: 320px;
    height: 158px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-8 {
    width: 320px;
    height: 158px;
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 357px;
}

.u-section-3 .u-text-1 {
  font-size: 3.76471rem;
  width: 786px;
  margin: 22px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 25px;
  margin-bottom: 46px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 198px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 138px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 138px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 138px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 138px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 138px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 32px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 335px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }

  .u-section-3 .u-image-1 {
    height: 79px;
  }

  .u-section-3 .u-image-2 {
    height: 79px;
  }

  .u-section-3 .u-image-3 {
    height: 79px;
  }

  .u-section-3 .u-image-4 {
    height: 79px;
  }

  .u-section-3 .u-image-5 {
    height: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
    margin-top: 140px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -165px;
    margin-bottom: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 577px;
    grid-auto-columns: calc(50% - 5.0000025px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 80px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 52px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 49px;
  }

  .u-section-3 .u-image-2 {
    height: 49px;
  }

  .u-section-3 .u-image-3 {
    height: 49px;
  }

  .u-section-3 .u-image-4 {
    height: 49px;
  }

  .u-section-3 .u-image-5 {
    height: 49px;
  }
}